//Width
.w-2-5rem {
  width: 2.5rem !important;
}
.w-90rem {
  max-width: 90rem;
}

.max-w-30-per {
  max-width: 30%;
}

.max-w-80em {
  max-width: 80%;
}

.max-w-80vw {
  max-width: 80vw !important;
}

.max-w-7rem {
  max-width: 7rem !important;
}

.max-w-21rem {
  max-width: 21rem !important;
}

.max-w-22rem {
  max-width: 22rem !important;
}

.max-w-62rem {
  max-width: 62rem !important;
}

.min-w-25rem {
  min-width: 25rem !important;
}

.min-w-15rem {
  min-width: 15rem !important;
}

.min-w-19rem {
  min-width: 19rem !important;
}

.min-w-4 {
  min-width: 40% !important;
}

.max-w-7 {
  min-width: 50% !important;
}

.min-w-5rem {
  min-width: 5rem !important;
}

.min-w-10rem {
  min-width: 10rem !important;
}

//Height

.min-h-3 {
  min-height: 22vh !important;
}

//Margin
.mt-10 {
  margin-top: 10rem !important;
}
.mt-12 {
  margin-top: 12rem !important;
}

//Padding
.mb-10 {
  padding-bottom: 10rem !important;
}
